@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gafat:wght@400a&display=swap');



:root {
  --mainBrown: #c8a78f;
  --mainYellow: rgba(68, 51, 11, 0.774);
  --mainYGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --overlay-color: rgba(65, 50, 30, 0.335);
}

nav {
  background-image: ;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Slackey',
    cursive;
  letter-spacing: 0.5rem !important;
  line-height: 1.1;
}

h6 {
  font-family: 'Gafata',
    sans-serif;
  letter-spacing: 0.25rem !important;
  color: var(--mainYellow);
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;

}

.overlay {
  background-color: var(--overlay-color);
}

.items {
  font-family: 'Fira Sans',
    sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.items:hover {
  /* background-color: var(--mainYGrey); */
  /* color: var(--mainWhite)!important; */
  border-color: var(--mainYellow);
}

.default-background,
.about-background {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--overlay-color));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: #fff;
  border-color: var(--mainBrown);
}

.footer {
  background: var(--mainYellow);
}

.footer h6 {
  color: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.menu,
.contact {
  background: var(--mainYGrey);
}


.aside img {
  width: 300px;
  height: 300px;
}

hr {
  height: 1px;
  width: 10%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}