@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Montserrat&family=Roboto&display=swap');

:root {
  --mainBrown: #c8a78f;
  --mainYellow: rgba(68, 51, 11, 0.774);
  --mainYGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --overlay-color: rgba(65, 50, 30, 0.335);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: 'Montserrat',
  sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alegreya Sans',
  sans-serif;
  color: var(--mainBrown);
  letter-spacing: 0.5rem !important;
  line-height: 1.1;
}

h6 {
  font-family: 'Roboto',
    sans-serif;
    font-size: 0.9rem;
  letter-spacing: 0.25rem !important;
  color: var(--mainYellow);
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;

}

.overlay {
  background-color: var(--overlay-color);
}

.items {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.items:hover {
  font-weight: 700;
}

.default-background,
.about-background {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--overlay-color));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: #fff;
  border-color: var(--mainBrown);
}

.footer {
  background: var(--mainYellow);
}

.footer h6 {
  color: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.menu,
.contact {
  background: var(--mainYGrey);
}


.aside img {
  max-width: 100%;
  height: 300px;
}

hr {
  height: 0.5px;
  width: 20%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.959), rgba(206, 147, 79, 0.692), rgba(209, 121, 49, 0.685));

}

